version: 2.1
jobs:
  test_py3:
    docker:
      - image: cyclus/cycamore:latest
        auth:
          username: $DOCKERHUB_USER
          password: $DOCKERHUB_PASS
    steps:
      - checkout
      - run: pip install -U pytest networkx matplotlib scipy coverage
      - run: pip install -U coveralls PyYAML
      - run: coverage run --source=./trailmap/ -m pytest
      - run: coverage report
      - run: coverage html
      - run: coveralls

workflows:
  testing:
    jobs:
      - test_py3
          context: dockerhub
