name: run-trailmap-tests
on: push
jobs: 
  test_py3:
    runs-on: ubuntu-latest
    container:
      image: cyclus/cycamore:latest
    steps:
      - uses: actions/checkout@v3
      - run: pip install -U pytest networkx matplotlib scipy coverage
      - run: pip install -U more_itertools
      - run: coverage run --source=./trailmap/ -m pytest
      - run: coverage lcov
      - name: Coveralls GitHub Action
        uses: coverallsapp/github-action@master
        with:
          path-to-lcov: ./coverage.lcov
          github-token: ${{ secrets.GITHUB_TOKEN }}
      - run: coverage report
      